@mixin gilroy-400 {
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
}
@mixin gilroy-500 {
    font-family: Gilroy-Medium, sans-serif;
    font-weight: 500;
}
@mixin gilroy-600 {
    font-family: Gilroy-Semibold, sans-serif;
    font-weight: 600;
}
@mixin gilroy-700 {
    font-family: Gilroy-Bold, sans-serif;
    font-weight: 700;
}
@mixin geometria-400 {
    font-family: Geometria-Regular, sans-serif;
    font-weight: 400;
}
@mixin geometria-700 {
    font-family: Geometria-Bold, sans-serif;
    font-weight: 400;
}