.btn {
    background-color: #FF0013;
    border: 2px solid transparent;
    border-radius: 100px;
    @include gilroy-600;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    &:hover {
        background-color: transparent;
        border: 2px solid #FF0013;
    }
    &_black {
        background-color: #313246;
        &:hover {
            background-color: transparent;
            border: 2px solid #fff;
        }
    }
    &_square{
        border-radius: 8px;
        background-color: #f70000;
        @include gilroy-700;
        font-size: 22px;
        line-height: 27px;
    }
    &_more {
        background-color: #313246;
        height: 60px;
        padding: 17px 53px 16px;
        &:hover{
            border: 2px solid #313246;
            color: #313246;
        }
    }
}
.title {
    @include gilroy-700;
    font-size: 45px;
    line-height: 54px;
    color: #313246;
    &_white {
        color: #fff;
    }
    &_size_17 {
        font-size: 17px;
        line-height: 21px;
    }
    &_size_24 {
        font-size: 24px;
        line-height: 28px;
    }
    &_size_35{
        font-size: 35px;
        line-height: 42px;
    }
    &_size_40 {
        font-size: 40px;
        line-height: 48px;
    }
    &_size_60 {
        font-size: 60px;
        line-height: 73px;
    }
}
.divider {
    width: 167px;
    height: 3px;
    background: #FF0013;
    border-radius: 10px;
}
.menu {
    position: relative;
    &__logo {
        margin-bottom: 50px;
    }
    &__mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        overflow-y: scroll;
        z-index: 10;
        background-color: #000;
        padding: 28px 15px 23px 27px;
        transition: all .5s ease;
        &.active {
            transform: translateX(0);
        }
        &-list {
            
            &_level_1 {
                max-height: 0;
                overflow: hidden;
                &.active {
                    margin-top: 15px;
                    max-height: none;
                }
            }
        }
        &-link {
            position: relative;
            padding-right: 25px;
            &::after {
                content: "";
                position: absolute;
                top: 7px;
                right: 0;
                background-image: url(../icons/arrow-down.svg);
                width: 15px;
                height: 15px;
                transition: .5s;
            }
            &.active {
                &::after {
                transform: rotate(180deg);
                }
        }
        }
        
    }
    &__list {
        flex-basis: 50%;
        margin-left: 50px;
        &_level_1 {
            margin-top: 16px;
        }
    }
    &__item{
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        font-size: 16px;
        line-height: 19px;
        color: #C2C2C2;
        transition: color .7s;
        &_bold{
            @include gilroy-700;
            font-size: 20px;
            line-height: 25px;
            color: #FFFFFF;
        }
        &:hover{
            color: #FF0013;
        }
    }
    &__btn-close {
        position: absolute;
        top: 25px;
        right: 15px;
        background-color: transparent;
        width: 33px;
        height: 33px;
        border: 0;
        padding: 0;
        span {
            display: block;
            height: 4px;
            background-color: #fff;
            transform: rotate(-45deg) translate(-3px, 3px);
            &:nth-child(2) {
                transform: rotate(45deg);
            }
        }
    }
}
.burger {
    display: none;
    position: absolute;
    top: 26px;
    right: 10px;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: #FF0013;
    border: 0;
    padding: 0;
    span {
        display: block;
        background: #FAFAFA;
        border-radius: 10px;
        height: 3px;
        width: 24px;
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
